@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
      color: white;
}

/* ************************* FONDO */

body {
      background-image: url(../img/background.png);
      background-size: cover;
      background-position: center;
      
}

/* ************************ HEADER */

.header {
      position: sticky;
      background-color: #012030;
      width: 100%;
      padding: 1.5rem 10%; 
      background-color: transparent;
      border-bottom: 2px solid #9aeb30;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 1; 
} 


/* ************************** LOGO */

.logophase {
      height: 58px;
      margin: 0;
      padding: 0;
}

.menu {
      display: flex;
      flex-flow: row nowrap;
      gap: 2rem;
}

.menu a {
      position: relative;
      font-size: 1.15rem;
      color: #fff;
      font-weight: 500;
      text-decoration: none;
}

li {
      list-style-type: none;
}

/* *********** ANIMACION SUBRAYADO */

.navbar a::before {
      content: '';
      position: absolute;
      top: 100% ;
      left: 0;
      width:  0px;
      height: 3px;
      background: linear-gradient(90deg,transparent,#fff,transparent);
      border-radius: 1.5px;
      transition: .4s;
      z-index: -1;
}

.navbar a:hover::before {
      width: 100%;
}

.iconos {
      position: absolute ;

      right: 5%;
      font-size: 2.5rem;
      color: #fff;
      cursor: pointer;
      display: none;
}

#check {
      display: none;
}

/* ! MAIN INDEX */

.banner-text {
      padding: auto;
      position: relative;
      display: flex;
      min-height: calc(100vh - 224.8px);
      text-align: center;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem
      
}

.banner-text h1 {
      font-family: "Archivo Black", sans-serif;
      font-weight:600;
      font-size: 8rem;
      color: rgba(255, 255, 255, 0.46);         
}

.banner-text h2 {
      color: grey;  
}

.btn {
      margin-bottom: 20px;
      font-size: 1rem;
      font-weight: 500;
      border: 2px solid #9aeb30;
      background-color: #9aeb30;
      text-decoration: none;
      cursor: pointer;
      border-radius: 10px;
      padding: .7rem 2rem;
      color: #012030;
      transition: 0.5s ease;
      
}

.btn:hover {
      background: hwb(86 11% 49%);
      border: 2px solid #9aeb30;
}

.btn--textcolor:hover {
      transition: 1s;
}

.btn--textcolor:hover {
      color: #fff;
}

/* ! FOOTER */
.footernav {
      width: 100%;
      display: flex;
      border-top: 2px solid #9aeb30;
}

.foot-icon {
      padding: 1.5rem 0;
      margin: auto;
      text-decoration: none;
      font-size: 2.5rem;
      display: flex;
      align-items: flex-start;
      flex-direction: row;
      justify-content: center;
      gap: 2rem;

}

/* CURSOS */

.cursos-main {
      background-image: url(../img/studiobackground.jpg);
      min-height: calc(100vh - 112.8px);
      width: 100%;
      background-size: cover;
      background-position: center;
      padding: 5%; 
}

.cursos-container {   
      padding: 1rem 2rem;
      position: relative;
      background-color: #0120306b;
      border: 2px solid #9aeb30;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
}

.h1secciones {
      text-align: center;
      padding: 0 2rem;
      font-weight: 500;
      font-size: 3rem;
      color: white;
}

.tarjetas-container {
      position: center;
      margin: 0 2rem;
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
}

.tarjetas {
      position: relative;
      max-width: 400px;
      background-color: #012030;
      border-radius: 5px;
      margin: 2rem;
}

.img-tarjeta {
      width: 100%;
      height: 220px;
      object-fit: cover;

}

.cardtext {  
      width: 100%;
      padding: 1rem;
}

.tarjetas a {
      text-decoration: none;
      color: #9aeb30;
}

.mas {
      position: absolute;
      bottom: 1rem;    
}


/* SAMPLE PACKS */

/* ************************ HEADER */
/* 
.header {
      position: fixed;
      background-color: #012030;
      width: 100%;
      padding: 1.5rem 10%; 
      background-color: transparent;
      border-bottom: 2px solid #9aeb30;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 1; 
}  */


.packs-container {
      padding: 2rem;
}
.packs {
      padding: 2rem;
      max-width: auto;
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.packslink {
      border-radius: .2em;
      background: #ffffff9d;
      box-shadow: 5px 10px 15px rgba(255, 255, 255, 0.432);
      padding: .5rem;
      text-decoration: none;
      color: #012030;
      display: flex;
      flex-direction: column;
      align-items: center;
}

.packsimg {
      max-width: 250px;
      
}

.buy {
      color: #9aeb30;
}

/* COMUNIDAD */

.comunidad {
      background: linear-gradient(20deg,#9aeba3, #9aeb30);
      width: 100%;
      min-height:76vh;      
      padding: 2rem;
      display: flex;
      flex-flow: row wrap-reverse;
      align-items: center;
      text-align: center;
      justify-content: center;
      gap: 4rem;
      font-size: 2rem;
      font-weight: 400;
      overflow: hidden;
}



.btn-2 {
      background-color: #012030;
      color: #9aeb30;
}

.bannerizq {
      width: 400px;
      align-self: flex;
}

.bannerizq h1 {
      font-family: "Archivo Black", sans-serif;
      font-size: 4rem;
      color:#012030;
}

.cicle {
      width: 370px;
      margin-bottom: -50px;
}

/* BLOG */

.blog {
      color: white;
      padding: 2rem 10%;
}

.articles-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 3rem;


}
.articulos {
      position: relative;
      background-color: #ffffff9d;
      margin-top: 2rem;
      width: 350px;
      height: 500px;
      border-radius: 4px;
      
}

.articulos img{
      width: 100%;
      height: 200px;
      object-fit: cover;
}

.text {
      margin: .5rem 1rem;
}

.btnmas {
      color: #9aeb30;
      position: absolute;
      bottom: 1rem;
      margin: .5rem 1rem;
      align-self: flex-end;
      text-decoration: none;
}


/*! BREAKPOINTS Y MENU DESLIZABLE*/

@media (max-width: 900px) {
      .header {
            padding: 1.5rem 5%;
      }

      .comunidad {
            display: flex;
            flex-flow: column-reverse nowrap;
            gap: 2rem;
      }

      .bannerizq h1{
            font-size: 3rem;
      }

      .bannerizq p {
            font-size: 1.5rem;
      }

      .cicle {
            width: 300px;
            margin-bottom: 20px;
            
      }


}

@media (max-width: 768px) {
      
      .iconos {
            display: inline-flex;
      }

      #check:checked~.iconos #open-menu {
            display: none;
      }
      
      .iconos #close-menu {
            display: none;
      }

      #check:checked~.iconos #close-menu {
            display: block ;
      } 

      .navbar {
            position: absolute;
            top: 102%;
            left: 0%;
            width: 100%;
            height: 0;
            background: #012030cc;
            backdrop-filter: blur 50px;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
            overflow: hidden;
            transition: 0.4s;
            z-index: 0;
      }

      #check:checked~.navbar {
            height: 15.7rem;
      }
      
      .navbar .menu {
            display: flex;
            flex-direction: column;
            font-size: 1.15rem;
            margin: 1.5rem 0;
            text-align: center;
            justify-content: center;
            transform: translateY(50);
            transition: 0.4s ease;
      }


      #check:checked~.navbar a {
            transform: translateY(100);

      }
      
      .navbar a::before {
            display: none;
      }
      
      

}

