@import "./partials/variables";
@import "./partials/reset";
@import "./partials/header";
@import "./partials/hero";
@import "./partials/footer";

body {
      background-image: url(../img/background.png);
      background-size: cover;
      background-position: center;
}
