@import "./partials/variables";
@import "./partials/reset";
@import "./partials/header";
@import "./partials/body";
@import "./partials/hero";
@import "./partials/footer";
@import "./partials/tarjetas";
@import "./partials/bannerComunidad";

@media (max-width: 900px) {

      .header {
            padding: 1.5rem 5%;
      }

      .comunidad {
            display: flex;
            flex-flow: column-reverse nowrap;
            gap: 2rem;
      }

      .bannerizq {
            h1{
                  font-size: 3rem;
            }
            p {
                  font-size: 1.5rem;
            }
      } 

      .cicle {
            width: 300px;
            margin-bottom: 20px;
            
      }
}

@media (max-width: 768px) {

      .iconos {
            display: inline-flex;
      }

      #check:checked~.iconos #open-menu {
            display: none;
      }
      
      .iconos #close-menu {
            display: none;
      }

      #check:checked~.iconos #close-menu {
            display: block ;
      } 

      .navbarme {
            position: absolute;
            top: 102%;
            left: 0%;
            width: 100%;
            height: 0;
            background: #012030cc;
            backdrop-filter: blur 50px;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
            overflow: hidden;
            transition: 0.4s;
            z-index: 0;
      }

      #check:checked~.navbarme {
            height: 15.7rem;
      }
      
      .navbarme .menu {
            display: flex;
            flex-direction: column;
            font-size: 1.15rem;
            margin: 1.5rem 0;
            text-align: center;
            justify-content: center;
            transform: translateY(50);
            transition: 0.4s ease;
      }


      #check:checked~.navbarme a {
            transform: translateY(100);

      }
      
      .navbarme a::before {
            display: none;
      }
}